version: '3'
services:
  flask:
    container_name: flask
    image: "arynxd/uws-coursework:f65306169cf27f73f65676c259ccf4035a82b985-b42"
    restart: unless-stopped
    networks:
      - app
  proxy:
    image: nginx:1.29.5
    container_name: proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx-config:/etc/nginx/conf.d
    depends_on:
      - flask
    networks:
      - app
networks:
  app:
    driver: bridge
